.btnStyleAdd {
  color: white;
  background-color: $thirdRed;
  width: 75px;
  height: 75px;
}

.btnMargin {
  margin-top: 5px;
}

.activityContent {
  width: 100%;
  background-color: white;
  color: white;
  border-radius: 1em;
  text-align: left;
  flex-wrap: wrap;
  box-shadow: 10px 10px 19px -16px rgba(0,0,0,0.75);
  margin: 18px 0px;
  & h5, h6 {
    color: $darkGreyColor;
    margin: 3px;
  }
  & svg {
    color: $thirdRed;
    float: right;
    margin: 3px;
    font-size: 20px;
  }
}

.header-cont {
  border-radius: 1em 1em 0 0;
  background-color: $thirdRed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 9px;
}

.add-activity-cont {
  opacity: 1;
  cursor: pointer;
  margin: 8px 12px 0px 8px;
  transition: all 0.3s ease;
  & h5 {

  }
}

.boxTitles {
  margin: 0px 8px 0px 12px;
}

.boxes {
  width: 65px;
  height: 65px;
  background-color: white;
  border: solid 2px $lightGreyColor;
  border-radius: 15px;
  margin: 2px 2px 15px 2px;
  & h5 {
    color: $lightGreyColor;
  }
}

.editBoxes {
  width: 105px;
  height: 65px;
  background-color: white;
  border: solid 2px $secondRed;
  border-radius: 15px;
  margin: 2px 2px 15px 7px;
  & h5 {
    color: $thirdRed;
  }
}

p {
  color: $lightGreyColor;
}

.activityImg {
  margin: 15px;
}
